spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/your_postgres_db  # PostgreSQL JDBC connection string
    username: your_postgres_username       # PostgreSQL username
    password: your_postgres_password       # PostgreSQL password

  kafka:
    bootstrap-servers: kafka:9092          # Kafka broker address (can be comma-separated list)
